<!DOCTYPE html>
<html>
<head>
  <title>Photos</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <h1>Soulflyer</h1>
  </div>
      <div id="links">
        <ul>
          <li>
            <a href="http://soulflyer.co.uk/blog">Blog</a>
          </li>
          <li>
            <a href="http://soulflyer.co.uk/notebook">Notebook</a>
          </li>
          <li>
            <a href="http://soulflyer.co.uk/Photos.html">Photos</a>
          </li>
          <li>
            <a href="http://soulflyer.co.uk/Music.html">Music</a>
          </li>
          <li>
            <a href="http://railsiain.com/">Code</a>
          </li>
        </ul>
      </div>

<%= yield %>
  <div id="footer">
  </div>
</body>
</html>
